@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PACHA TOURS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/2415dd1288.js" crossorigin="anonymous"></script>
</head>

<body>
    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg stroke">
                <h1>
                    <a class="navbar-brand mr-lg-5" href="home.html">
                        Pacha Tours
                    </a>
                </h1>
                <!-- si tengo logo la imagen la pongo asi
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>

                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Inicio<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Servicios">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Preguntas">Preguntas frecuentes</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contacto">Contacto</a>
                        </li>

                    </ul>
                </div>

                <!-- toggle cambiar por tema oscuro o claro -->
                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle cambiar por tema oscuro o claro -->
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <partial name="_LoginPartial" />
                </div>
            </nav>
        </div>
    </header>
    <!-- //header -->
    <!--banner-slider-->
    <!-- main-slider -->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active" style="height: 100%; width: 100%">
                        <img class="d-block img-fluid" src="~/images/banner1.jpg" alt="First slide" style="height: 100%; width: 100%"> 
   
                    </div>
                    <div class="carousel-item" style="height: 80%; width: 100%">
                        <img class="d-block img-fluid" src="~/images/banner2.jpg" alt="Second slide" style="height: 80%; width: 100%">

                    </div>
                    <div class="carousel-item" style="height: 60%; width: 100%">
                        <img class="d-block img-fluid" src="~/images/banner3.jpg" alt="Third slide" style="height: 60%; width: 100%">
 
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </div>
    <!-- /main-slider -->
    <!-- //banner-slider-->

    <!--/CUADRICULA grids-->
    <section class="w3l-grids-3 py-5">
        <div class="container py-md-5">
            <div class="title-content text-left mb-lg-5 mb-4">
                <h6 class="sub-title">Visita los</h6>
                <h3 class="hny-title">Destinos Populares</h3>
            </div>
            <div class="row bottom-ab-grids">
                <!--/row-grids-->
                <div class="col-lg-6 subject-card mt-lg-0 mt-4">
                    <div class="subject-card-header p-4">
                        <a href="#" class="card_title p-lg-4d-block">
                            <div class="row align-items-center">
                                <div class="col-sm-5 subject-img">
                                    <img src="~/images/g1.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                    <h4>Purmamarca</h4>
                                    <p>2 dias 3 noches</p>
                                    <div class="dst-btm">
                                        <h6 class=""> Desde </h6>
                                        <span>$3000</span>
                                    </div>
                                    <p class="sub-para">Por persona</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 subject-card mt-lg-0 mt-4">
                    <div class="subject-card-header p-4">
                        <a href="#" class="card_title p-lg-4d-block">
                            <div class="row align-items-center">
                                <div class="col-sm-5 subject-img">
                                    <img src="~/images/g2.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                    <h4>Valle de la luna</h4>
                                    <p>2 dias 3 noches</p>
                                    <div class="dst-btm">
                                        <h6 class=""> Desde </h6>
                                        <span>$3000</span>
                                    </div>
                                    <p class="sub-para">Por persona</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--//row-grids-->
                <!--/row-grids-->
                <div class="col-lg-6 subject-card mt-4">
                    <div class="subject-card-header p-4">
                        <a href="#" class="card_title p-lg-4d-block">
                            <div class="row align-items-center">
                                <div class="col-sm-5 subject-img">
                                    <img src="~/images/g3.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                    <h4>Termas del Jordan</h4>
                                    <p>2 dias 3 noches</p>
                                    <div class="dst-btm">
                                        <h6 class=""> Desde </h6>
                                        <span>$3000</span>
                                    </div>
                                    <p class="sub-para">Por persona</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 subject-card mt-4">
                    <div class="subject-card-header p-4">
                        <a href="#" class="card_title p-lg-4d-block">
                            <div class="row align-items-center">
                                <div class="col-sm-5 subject-img">
                                    <img src="~/images/g4.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                    <h4>Alto Calilegua</h4>
                                    <p>2 dias 3 noches</p>
                                    <div class="dst-btm">
                                        <h6 class=""> Desde </h6>
                                        <span>$3000</span>
                                    </div>
                                    <p class="sub-para">Por persona</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--//row-grids-->
                <!--/row-grids-->
                <div class="col-lg-6 subject-card mt-4">
                    <div class="subject-card-header p-4">
                        <a href="#" class="card_title p-lg-4d-block">
                            <div class="row align-items-center">
                                <div class="col-sm-5 subject-img">
                                    <img src="~/images/g5.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                    <h4>Barrancas</h4>
                                    <p>2 dias 3 noches</p>
                                    <div class="dst-btm">
                                        <h6 class=""> Desde </h6>
                                        <span>$3000</span>
                                    </div>
                                    <p class="sub-para">Por persona</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 subject-card mt-4">
                    <div class="subject-card-header p-4">
                        <a href="#" class="card_title p-lg-4d-block">
                            <div class="row align-items-center">
                                <div class="col-sm-5 subject-img">
                                    <img src="~/images/g6.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                    <h4>Huancar</h4>
                                    <p>2 dias 3 noches</p>
                                    <div class="dst-btm">
                                        <h6 class=""> Desde </h6>
                                        <span>$3000</span>
                                    </div>
                                    <p class="sub-para">Por persona</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--//row-grids-->
                <!--/row-grids-->
                <div class="col-lg-6 subject-card mt-4">
                    <div class="subject-card-header p-4">
                        <a href="#" class="card_title p-lg-4d-block">
                            <div class="row align-items-center">
                                <div class="col-sm-5 subject-img">
                                    <img src="~/images/g7.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                    <h4>Laguna de Pozuelos</h4>
                                    <p>2 dias 3 noches</p>
                                    <div class="dst-btm">
                                        <h6 class=""> Desde </h6>
                                        <span>$3000</span>
                                    </div>
                                    <p class="sub-para">Por persona </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 subject-card mt-4">
                    <div class="subject-card-header p-4">
                        <a href="#" class="card_title p-lg-4d-block">
                            <div class="row align-items-center">
                                <div class="col-sm-5 subject-img">
                                    <img src="~/images/g8.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                    <h4>Parque Calilegua</h4>
                                    <p>2 dias 3 noches</p>
                                    <div class="dst-btm">
                                        <h6 class=""> Desde</h6>
                                        <span>$3000</span>
                                    </div>
                                    <p class="sub-para">Por persona </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--//row-grids-->
            </div>
        </div>
    </section>
    <!--//CUADRICULA grids-->

    <!--/footer main-->
    <footer>
        <!-- footer -->
        <section class="w3l-footer">
            <div class="w3l-footer-16-main py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 column">
                            <div class="row">
                                <div class="col-md-4 column">
                                    <h3>Pacha Tours</h3>
                                    <ul class="footer-gd-16">
                                        <li><a href="home.html">Home</a></li>
                                        <li><a href="servicios.html">Servicios</a></li>
                                        <li><a href="preguntas.html">Preguntas Frecuentes</a></li>
                                        <li><a href="#url">Blog</a></li>
                                        <li><a href="contacto.html">Contactanos</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4 column mt-md-0 mt-4">
                                    <h3>Enlaces útiles</h3>
                                    <ul class="footer-gd-16">
                                        <li><a href="#url">Destinos</a></li>
                                        <li><a href="#url">Pagina de Turismo</a></li>
                                        <li><a href="#url">Imagenes</a></li>
                                        <li><a href="about.html">Acerca de Pacha Tours</a></li>
                                        <li><a href="#url">Nuestros Paquetes</a></li>
                                    </ul>
                                </div>                                
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 column pl-lg-5 column4 mt-lg-0 mt-5">
                            <h1>PACHA TOURS</h1>
                            <div class="end-column">
                                <h4>Obtenga las últimas actualizaciones y ofertas por whatsapp</h4>
                                <a href="https://api.whatsapp.com/send?phone=5493874838848&text=Hola%20quisiera%20saber%20el%20precio%20de">
                                    <img id="whatsapp" 
                                        src="https://travelmaniacoviajes.com.ar/ico/whatsapp.png">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex below-section justify-content-between align-items-center pt-4 mt-5">
                        <div class="columns text-lg-left text-center">
                            <p> Pacha Tours</p>
                        </div>
                        <div class="columns-2 mt-lg-0 mt-3">
                            <ul class="social">
                                <li><a href="#facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                </li>
                                <li><a href="#whatsapp"><span class="fa fa-whatsapp" aria-hidden="true"></span></a>
                                </li>
                                <li><a href="#twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                </li>
                                <li><a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- mueve arriba -->
            <button onclick="topFunction()" id="movetop" title="Go to top">
                <span class="fa fa-angle-up"></span>
            </button>
            <script>
                //Cuando el usuario se desplace 20px hacia abajo desde la parte superior del documento, muestre el botón
                window.onscroll = function() {
                    scrollFunction()
                };

                function scrollFunction() {
                    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                        document.getElementById("movetop").style.display = "block";
                    } else {
                        document.getElementById("movetop").style.display = "none";
                    }
                }

                // Cuando el usuario haga clic en el botón, desplácese hasta la parte superior del documento
                function topFunction() {
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;
                }
            </script>
            <!-- //scroll para arriba -->
            <script>
                $(function() {
                    $('.navbar-toggler').click(function() {
                        $('body').toggleClass('noscroll');
                    })
                });
            </script>
        </section>
        <!-- //footer -->
    </footer>
    <!-- Template JavaScript -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/theme-change.js"></script>
    <!--/slider-js-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/modernizr-2.6.2.min.js"></script>
    <script src="~/js/jquery.zoomslider.min.js"></script>
    <!--//slider-js-->
    <script src="~/js/owl.carousel.js"></script>
    <!-- script carousel slider -->
    <script>
        $(document).ready(function() {
            $("#owl-demo1").owlCarousel({
                loop: true,
                margin: 20,
                nav: false,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    736: {
                        items: 1,
                        nav: false
                    },
                    1000: {
                        items: 1,
                        nav: false,
                        loop: true
                    }
                }
            })
        })
    </script>
    <!-- //script carousel slider -->

    <!--/MENU-JS-->
    <script>
        $(window).on("scroll", function() {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function() {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function() {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function() {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!--//MENU-JS-->

    <script src="~/js/bootstrap.min.js"></script>

</body>

